body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Tahoma;
    font-size: 20px;
}

h1, p{
    text-align: center;
    margin: 0.5em auto;
    padding-bottom: 5px;
  }

fieldset {
    margin-left: 35%;
    margin-right: 35%;
    border: none;
    border-bottom: 2px solid gray;
}

.inline {
    display: inline;
    vertical-align: middle;
    width: unset;
}

label {
    padding: 10px;
}

label, textarea {
    display: block;
    margin-top: 10px;
  }

textarea {
    margin: auto;
    width: 100%;
  }