body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
    font-family: Tahoma;
    font-size: 20px;
    background-image: url(https://michaelmcqueen.net/media/k2/items/cache/9b61c9add26ae66de11f78f97af7a160_XL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #003d66;
    background-blend-mode: multiply;
}

h1, p{
    text-align: center;
    margin: 0.5em auto;
    padding-bottom: 5px;
  }

select {
    display: block;
    padding: 10px;
    margin-top: 5px;
}

fieldset {
    margin-left: 35%;
    margin-right: 35%;
    border: none;
    border-bottom: 2px solid gray;
    background-color: #001f33;
}

label {
    padding: 10px;
    padding-left: 11px;
}

.info {
    display: block;
    margin: 5px auto;
    width: 98%;
    height: 28px
}

input, .dropdown, textarea{
    border-radius: 7px;
    border: none;
}

textarea {
    margin: auto;
    width: 100%;
    resize: none;    
}

.inline {
    display: inline;
    vertical-align: middle;
    width: unset;
}

label, textarea {
    display: block;
    margin-top: 10px;
}

input[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 2em;
    width: 30%;
    font-size: 2rem;
    background-color: #8ba8e7;
}

input[type="submit"]:hover {
    background-color: #003d66;
    cursor: pointer;
}

.dropdown, .inline:hover {
    cursor: pointer;
}